include includes/head.pug
        
                    li.nav-item
                        a.nav-link(href='/deconnexion') Déconnexion


section
    .container-fluid
        .row.justify-content-center.col-4.offset-4
            h1(alt="Super-quiz")
                img(src='/public/img/logo-quiz.png' alt='logo-quiz')
        .row.justify-content-center.col-4.offset-4
            h2 Bienvenue #{session.pseudo}
        .row
            // Ecran accueil
            .center.col-lg-6.col-12.col-xl-6.order-lg-2.colonne.welcome-screen.justify-content-center

                p Prêt à tester votre culture générale ? Vous êtes au bon endroit !
                p Quiz Challenge vous propose de jauger votre culture en affrontant un adversaire de choix sur une série de questions.
                p 10 questions niveau DEBUTANT ! 10 questions niveau INTERMEDIAIRE ! 10 questions niveau EXPERT !
                p Le quiz prend fin si un des 2 joueurs répond aux 30 questions ou si les 300 secondes du timer sont écoulées.
                p Cliquez sur le bouton "Rejoindre la partie". Le quiz démarrera dès que le second joueur aura également cliqué sur ce bouton.
                p Que le meilleur gagne !
                a.btn.btn-info.ready Rejoindre la partie
                p.wait En attente d'un second joueur ...

            // Colonne joueurs
            .left.col-lg-3.col-12.col-xl-2.offset-xl-1.order-lg-1.colonne
                h2 Joueurs connectés
                div#players-connected
                h2 Joueurs en attente d'un adversaire
                div#players-ready

            // Ecran jeu
            .center.col-lg-6.col-12.col-xl-6.order-lg-2.colonne.game-screen.justify-content-center 
                h2 C'est parti !
                .row.justify-content-center
                    p.count 
                        span.message 
                        span.count 0
                        span.unity s
                .row.final-score
                    .col-5
                        div.player1
                            p.pseudo
                            p.score-aff
                            span points
                
                    .col-2
                        p VS
                
                    .col-5
                        div.player2
                            p.pseudo
                            p.score-aff
                            span points
                    .row
                    a.btn.btn-info.ready Rejouer ?

                .row
                    .row.col-12
                        .col-3.offset-3
                            p.chrono Timer 
                                span.seconds
                                span  secondes
                        .col-3
                            p.score Score : 
                                span.score 0
                                span /30 points
                    .row
                        .col-12
                            p.question Question N°
                                span.questionNumber
                                span /30 :
                                span.question
                    .row.questions.col-12
                        .col-6
                            p 
                                a#answer-a.answer.btn(href="")
                            p
                                a#answer-b.answer.btn(href="")
                        .col-6
                            p
                                a#answer-c.answer.btn(href="")
                            p
                                a#answer-d.answer.btn(href="")
                    .row
                        .col-12
                            p.littleStory

        
            // Colonne scores
            .right.col-lg-3.col-12.col-xl-2.order-lg-3.colonne.red
                h2 10 dernières parties
                div.hall-of-fame
                .script
                    each elmt in scoresTab
                        //- let date = elmt.date.toString();
                        .container-fluid
                        
                        p Date : #{elmt.date}
                        .row
                            .col-4
                                p #{elmt.scores[0].player}
                            .col-4
                                p VS
                            .col-4
                                p #{elmt.scores[1].player}
                        .row
                            .col-4
                                p #{elmt.scores[0].score}
                            .col-4.offset-4
                                p #{elmt.scores[1].score}
                        hr
//- .script
//-     var tabScores = '#scoresTab';
//-     tabScores.forEach(function(elmt){
//-         $('div.hall-of-fame').append
//-     });

footer.footer-class
    .container-fluid
        diw.row
script(src='/public/vendors/jquery/jquery-3.4.1.min.js')
script(src='/public/vendors/bootstrap/js/bootstrap.min.js')
script(src='/public/vendors/bootstrap/js/bootstrap.bundle.min.js')
script(src="/public/js/lobby.js")
//
  <script src="/public/js/auth.js"></script>
  <script src="/public/js/lobby.js"></script>
